.mdl-button--raised.mdl-button--colored {
  background: #a1f089;
  color: #ffffff;
}

.upload-field {
  min-height: 110px;
}

.mdl-snackbar__text {
  text-align: center;
}
.card-previews{
  width: 430px;
}
.card-preview {
  max-height: 400px;
  overflow-y: scroll;
  .mdl-card__media{
    background: none;
  }
  .mdl-card__supporting-text {

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
